.menu2{
height: 613px;
width: 1288px;
}
.menu2-row{
display: flex;
justify-content: space-between;

}
.text-wheter{
    margin-top: 197px;
    margin-left: 253px;
    width: 390px;
    height: 203px;
    font-weight: 400;
    font-size: 26px;
    line-height: 33.8px;
    color: #000000;
    letter-spacing: 0.78px;
}
.menu-book{
    margin-top: 59px;
    margin-left: 253px;
    width: 70px;
    height: 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #000000;
    letter-spacing: 2.08px;
}
.rectangle3{
    margin-top: 5.78px;
    margin-left: 253.47px;
    width: 69.64px;
    height: 1px;
}
.photo-menu2{
    margin-top: 43px;
    margin-left: 109px;
    width: 404px;
    height: 538px;
}