.venues{
width: 1280px;
height: 849px;
}
.venues-row{
display: flex;

}
.venues-photo{
    margin-top: 83px;
    margin-left: 109px;
    width: 514px;
    height: 685px;
}

.venues-title{
    margin-top: 145px;
    margin-left: 143px;
    width: 150px;
    height: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #000000;
    letter-spacing: 2.08px;
}
.venues-family{
    margin-top: 38px;
    margin-left: 126px;
    width: 332px;
    height: 126px;
    font-weight: 400;
    font-size: 58px;
    line-height: 63px;
    color: #171717;
    letter-spacing: 1.8px;
}
.venues-text1{
    /*margin-top: 212px;*/
    margin-left: 126px;
    width: 201px;
    height: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #000000;
    letter-spacing: 0.32px;
}
.venues-text2{
    margin-top: 3px;
    margin-left: 126px;
    width: 326px;
    height: 68px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #000000;
    letter-spacing: 0.32px;
}
.venues-text3{
    margin-top: 14px;
    margin-left: 126px;
    width: 336px;
    height: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #000000;
    letter-spacing: 0.32px;
}
.venues-rectangle{
    margin-top: 37px;
    margin-left: 143px;
    width: 404px;
    height: 1px;
}
.venues-logo-1{
    margin-top: 42px;
    margin-left: 143px;
    width: 187px;
    height: 101px;
}
.venues-logo-2{
    margin-top: 42px;
    
    width: 185px;
    height: 84px;
}
.logotip{
    display: flex;
    margin-right: 32px;
}
.vestext-venues{
    margin-top: 96px;
}